<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:replace="~{fragments/general.html :: htmlContent('Error', ~{ :: .body-content})}">
<section class="body-content">
    <div style="position: relative">
        <div style="display: flex; flex-direction: column; align-items: center">
            <h1 style="text-align: center"> Oups ! I did it again ! ...</h1>
            <img style="flex-grow: 0" src="/images/error.gif" alt="error-gif">
        </div>
    </div>
</section>
</html>
