<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:replace="~{fragments/byId.html :: byId(~{ :: form})}">
    <form th:remove="tag">
            <div class="col-12">
                <label>
                    Nom du projet :
                    <input type="text" name="nom" th:field="*{nom}">
                </label>
            </div>

        <div class="col-6 col-12-xsmall">
            <label>
                Competences :
                <select name="competences" th:field="*{competences}" required multiple>
                    <option th:each="comp : ${comps}" th:text="${comp.nom}" th:value="${comp.id}"></option>
                </select>
            </label>
        </div>
        <div class="col-6 col-12-xsmall">
            <label>
                Participants :
                <select name="participants" th:field="*{participants}" required multiple>
                    <option th:each="etudiant : ${etudiants}" th:text="${etudiant.nom}" th:value="${etudiant.id}"></option>
                </select>
            </label>
        </div>
    </form>
</html>
