<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="fr" th:replace="~{fragments/byId.html :: byId(~{ :: form})}">
    <form th:remove="tag">
            <div class="col-12">
                <label>
                    Nom du projet :
                    <input type="text" name="nom" th:field="*{nom}">
                </label>
            </div>

        <div class="col-6 col-12-xsmall">
            <label>
                Competences :
            </label>
                <ul style="max-height: 10vh; overflow: auto">
                    <li class="row" style="list-style-type: none; border-bottom: 1px gray solid; align-items: center" th:each="comp : ${comps}">
                        <input style="appearance: auto; -moz-appearance: auto; opacity: 1; margin: 0; vertical-align: middle; height: 0.9em;" type="checkbox" th:id="'c'+${{comp}}" th:value="${{comp}}" th:field="*{competences}"/>
                        <label style="margin: 0" th:for="'c'+${{comp}}" th:text="${comp.nom}"></label>
                    </li>
                </ul>
        </div>
        <div class="col-6 col-12-xsmall">
            <label>
                Participants :
            </label>
            <ul style="max-height: 10vh; overflow: auto">
                <li class="row" style="list-style-type: none; border-bottom: 1px gray solid; align-items: center" th:each="student : ${etudiants}">
                    <input style="appearance: auto; -moz-appearance: auto; opacity: 1; margin: 0; vertical-align: middle; height: 0.9em;" type="checkbox" th:id="'p'+${{student}}" th:value="${{student}}" th:field="*{participants}"/>
                    <label style="margin: 0" th:for="'p'+${{student}}" th:text="${student.nom}"></label>
                </li>
            </ul>
        </div>

        <div class="col-12">
            <label>Contenus :</label>
            <div th:each="contenu, stats : *{contenus}" style="position: relative">
                <a th:href="${#strings.concat('/',path,'/removeContent/',element.id,'/',stats.index)}" class="button small primary" style="position: absolute; right: 0; padding: 0; aspect-ratio: 1">X</a>
                <textarea style="margin-bottom: 1em" name="contenu" rows="4" th:field="*{contenus[__${stats.index}__]}"></textarea>
            </div>
            <a class="button small primary" th:href="${#strings.concat('/',path,'/addContent/',element.id)}">Ajouter</a>
        </div>
    </form>
</html>
